{% extends "maths/main.html" %}

{% block title %}Maths list{% endblock %}

{% block content %}
    <div class="search">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="operation" id="operation" placeholder="operacja">
            <input type="submit" value="szukaj">
        </form>
    </div>
   <table>
       <tr>
           <th>id</th>
           <th>a</th>
           <th>b</th>
           <th>operation</th>
           <th>result</th>
       </tr>
       {% for m in maths %}
       <tr>
           <td><a href="{% url 'maths:details' m.id %}">{{ m.id }}</a></td>
           <td>{{ m.a }}</td>
           <td>{{ m.b }}</td>
           <td>{{ m.operation }}</td>
           <td>{{ m.result.value }}</td>
       </tr>
       {% endfor %}
   </table>
    <div class="pagination">
        <span class="step-links">
           {% if maths.has_previous %}
               <a href="?page=1">« first</a>
               <a href="?page={{ maths.previous_page_number }}">previous</a>
           {% endif %}

           <span class="current">
               Page {{ maths.number }} of {{ maths.paginator.num_pages }}.
           </span>

           {% if maths.has_next %}
               <a href="?page={{ maths.next_page_number }}">next</a>
               <a href="?page={{ maths.paginator.num_pages }}">last »</a>
           {% endif %}
            </span>
     </div>
{% endblock %}