{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %}Title{% endblock %}</title>

   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'maths/css/style.css' %}">

   {# Load CSS and JavaScript #}
   {% bootstrap_css %}
   {% bootstrap_javascript jquery='full' %}

</head>
<body>
<div id="content">
   <header>
       <div class="text">
           <h1>dingo</h1>
           <p>matematyk</p>
       </div>
       <div class="menu">
           <a href="{% url 'greetings:welcome' %}">home</a>
           <a href="{% url 'posts:posts_list' %}">posts</a>
           <a href="{% url 'maths:list' %}">maths</a>
           <a href="{% url 'greetings:about' %}">about</a>
           <a href="{% url 'greetings:contact' %}">contact</a>
       </div>
   </header>

   {% bootstrap_messages %}
   <div id="inner-content">
       {% block content %}
           To jest blok kodu. W innych szablonach możemy go nadpisać
       {% endblock %}
   </div>
</div>
</body>
</html>