{% extends "books/main.html" %}

{% block title %} {{ author.full_name }} {% endblock %}

{% block content %}
    <div class="post-details">
        <h2>{{ author.full_name }}</h2>
        {% if author.is_active %}
            <p>nadal pisze</p>
        {% else %}
            <p>już nie pisze</p>
        {% endif %}
    </div>
    <h3>napisane książki:</h3>
    <ul>
        {% for book in books %}
            <li><a href="{% url 'books:book_details' book.id %}">{{ book.title }}</a></li>
        {% empty %}
            <li>nie ma ksiązek</li>
        {% endfor %}
    </ul>

<p> do autorów <a href="{% url 'books:authors_list' %}">wróć</a></p>
{% endblock %}