{% extends "books/main.html" %}

{% block title %} {{ book.title }} {% endblock %}

{% block content %}
    <div class="post-details">
        <h2>{{ book.title }}</h2>
        <p>autor: <a href="{% url 'books:author_details' book.author_id %}">{{ book.author }}</a></p>
        <p>{{ book.description }}</p>
        <div><img src="{{ book.image.url }}"></div>
        <p>tagi:</p>
        {% for tag in book.tags.all %}
        <p> {{ tag }}</p>
        {% endfor %}
    </div>

<p> do ksiąg <a href="{% url 'books:books_list' %}">wróć</a></p>
{% endblock %}