<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} welcome {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'greetings/css/style1.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'greetings:about' %}">about</a>
        <a href="{% url 'posts:posts_list' %}">posts</a>
        <a href="{% url 'maths:list' %}">maths</a>
        <a href="{% url 'greetings:contact' %}">contact</a>
        {% if user.is_authenticated %}
           <p class="nav-link">
               {{ user.username }} | <a href="{% url 'logout' %}">logout</a>
           </p>
        {% else %}
           <a class="nav-link" href="{% url 'login' %}">login</a>
        {% endif %}
    </header>
    <h1><a href="{% url 'greetings:welcome' %}">dingo</a></h1>
    <img src="{% static 'greetings/img/dengo.webp' %}">
    <div class="inner-content">
        {% block content %}
        {% endblock %}
    </div>

<footer>
    <span>© rockett production 2023</span>
</footer>
</body>
</html>