{% extends "posts/main.html" %}

{% block title %} post jeden {% endblock %}

{% block content %}
    <div class="post-details">
        <h2>{{ post.title }}</h2>
        <p>dodany: {{ post.created }}, przez: <a href="{% url 'posts:author_details' author.id %}">{{ author.nick }}</a></p>
        {% if post.modified != post.created %}
            <p>modyfikowany: {{ post.modified }}</p>
        {% endif %}
        <p>{{ post.content }}</p>
        <div><img src="{{ post.image.url }}"></div>
    </div>
<p> do artykułów <a href="{% url "posts:posts_list" %}">wróć</a></p>
{% endblock %}